{% extends 'base.html' %}

{% block content %}

<!-- <div class="container">
  <div class="row">
    <center>
      <div class="col-8 text-success h1">
        We have many products for your shopping pleasure.
      </div>
    </center>
  </div>
</div> -->

<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description}}</p>
            {% if product.is_sale %}
            <center>
              <div class="col mb-5">
                  <div class="card h-50">
                      <!-- Sale Badge(from template) -->
                        <div class="badge bg-light text-black position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                      <!-- Product details-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- Sale (from template)-->
                              <div class="d-flex justify-content-center small text-info mb-2">
                                  <div class="bi-star-fill"></div>
                                  &nbsp;&nbsp;Sale!!&nbsp;&nbsp;
                                  <div class="bi-star-fill"></div>
                              </div>
                              <!-- Product price-->
                                <strike>${{ product.price }}</strike>
                              ${{ product.sale_price }}
                          </div>
                      </div>
                      <!-- Product actions-->
                       <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                          <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                          <button class="btn btn-secondary" value="{{ product.id }}" id="add-cart">Add to Cart</button>
                      </div>
                  </div>
              </div>
            </center>
            {% else %}
            <center>
              <div class="col mb-5">
                  <div class="card h-50">
                      <!-- Product details-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- Product price-->
                              ${{ product.price }}
                          </div>
                      </div>
                      <!-- Product actions-->
                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                        <button class="btn btn-secondary" value="{{ product.id }}" id="add-cart">Add to Cart</button>
                      </div>
                  </div>
              </div>
            </center>
            {% endif %}
            <select class="form-select">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // Check for button press
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "cart_add" %}',
      data: {
        product_id: $('#add-cart').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },

      success: function(json){
        //console.log(json)
        document.getElementById('cart_quantity').innerHTML = json.qty
      },
      
      error: function(xhr, errmsg, err){}

    });
  })
</script>


{% endblock %}